<!-- 입고QC -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품화완료 QC</title>
    <style>
        body, html {
            height: 100%;
            margin: 0; 
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .navbar {
            background-color: white;
            color: white;
            padding: 20px 0;
            text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar .logo {
            width: 200px;
            height: auto;
        }

        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vh;
            width: 30vh;
            background-color: skyblue;
            position: fixed;
            top: 100px;
        }
    
        #inputBox {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 300px;
        }

        .data-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1px;
        }

        .grid-header,
        .grid-row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            font-size: 5px;
        }

        .grid-header div,
        .grid-row div {
            border : 1px solid #ccc;
            padding: 10px;
            text-align: center;
            min-width: 200px;
        }

        .grid-header {
            background-color: white;
            font-weight: bold;
        }

        .grid-row:nth-child(even) {
            background-color: #f2f2f2;
        }

        .grid-row:first-child {
            background-color: #FFA500;
        }
    
        /*반응형 ui*/
        @media only screen and (max-width: 600px) {
            /* 모바일 */
            .icon-container{
                flex-direction:column;
                align-items:center;
            }

            .icon-box {
                width: 300px;
                height: 150px;
                margin: 10px 0;
            }
    
            .icon-text {
                font-size: 20px;
            }

            .grid-header div,
            .grid-row div {
                padding: 5px;
                min-width:80px;
                font-size: 2.2px;
            }

            .grid-header {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="/main"><img class="logo" src="https://pds.saramin.co.kr/company/logo/202203/08/r8etng_ipfy-1p4vv0n_logo.png" alt="하모니로고"/></a>
    </div>

    <!-- 차량번호 검색 입력창 -->
    <div class="input-container">
        <input type="text" id="inputBox" placeholder="차량번호를 입력하세요">
    </div>

<!-- 데이터 출력 -->
<p style="color: red; font-size: 9px; margin-bottom: 10px;">**차량번호를 클릭하시면 수정 페이지로 이동합니다**</p>
<div class="data-container">
    <% if (data && data.length) { %>
        <!-- 스키마 내용 출력 -->
        <div class="grid-row">
            <div>신차구분</div>
            <div>차량번호</div>
            <div>모델명</div>
            <div>정비상태</div>
        </div>
        <!-- 실제 데이터 출력 -->
        <% data.forEach(item => { %>
            <div class="grid-row">
                <div><%= item.GUBUN %></div>
                <div class="carNo" onclick="sendRequest('<%= item.carNo %>')"><%= item.carNo %></div>
                <div><%= item.modelName %></div>
                <div><%= item.mainTstatus %></div>
            </div>
        <% }) %>
    <% } else { %>
        <p>존재하는 상품화완료 QC 데이터가 없습니다.</p>
    <% } %>
</div>

    <script src="CompQCscripts.js"></script>
</body>
</html>