<!-- editCompQC.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품화완료QC 정보 입력</title>
    <style>
        body, html {
            height: 100%;
            margin: 0; 
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .navbar {
            background-color: white;
            color: white;
            padding: 20px 0;
            text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar .logo {
            width: 200px;
            height: auto;
        }

    
        .data-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1px;
        }

        .grid-header,
        .grid-row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
        }

        .grid-header div,
        .grid-row div {
            border : 1px solid #ccc;
            padding: 10px;
            text-align: center;
            min-width: 330px;
            font-size: 9px;
        }

        .grid-header {
            background-color: white;
            font-weight: bold;
        }

        .grid-row:first-child {
            background-color: #FFA500;
        }

        /* 입력창 스타일 */
        .input-container {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-field {
            margin-bottom: 10px;
            width: 300px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px
        }

        .submit-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        /*반응형 ui*/
        @media only screen and (max-width: 600px) {
            /* 모바일 */
            .icon-container{
                flex-direction:column;
                align-items:center;
            }

            .icon-box {
                width: 300px;
                height: 150px;
                margin: 10px 0;
            }
    
            .icon-text {
                font-size: 20px;
            }

            .grid-header div,
            .grid-row div {
                padding: 5px;
                min-width: 80px;
                font-size: 2px;
            }

            .grid-header {
                font-size: 14px;
            }
        }
        </style>
</head>
<body>
     <!-- navbar -->
     <div class="navbar">
        <a href="/main"><img class="logo" src="https://pds.saramin.co.kr/company/logo/202203/08/r8etng_ipfy-1p4vv0n_logo.png" alt="하모니로고"/></a>
    </div>

    <!-- 기존 데이터 출력 -->

    <div class="data-container">

            <!-- 스키마 내용 출력 -->
            <div class="grid-row">
                <div>신차구분</div>
                <div>차량번호</div>
                <div>모델명</div>
                <div>정비상태</div>
            </div>
            <!-- 실제 데이터 출력 -->

            <div class="grid-row">
                <div><%= GUBUN %></div>
                <div><%= carNo %></div>
                <div><%= modelName %></div>
                <div><%= mainTstatus %></div>
            </div>

    </div>

    <div class="input-container">
        <div class="input-label">주행거리</div>
        <input type="text" class="input-field" id="mileage" placeholder="주행거리를 입력하세요">

        <div class="input-label">차량입고위치</div>
        <input type="text" class="input-field" id="entryLocation" placeholder="차량입고위치를 입력하세요">

        <div class="input-label">차량상세위치</div>
        <input type="text" class="input-field" id="detailLocation" placeholder="차량상세위치를 입력하세요">

        <div class="input-label">차키보유수량</div>
        <input type="text" class="input-field" id="KeyAmountPres" placeholder="차키보유수량를 입력하세요">
        
        <div class="input-label">차키총수량</div>
        <input type="text" class="input-field" id="KeyAmountTot" placeholder="차키총수량를 입력하세요">
        
        <div class="input-label">차키보관위치</div>
        <input type="text" class="input-field" id="KeyLocation" placeholder="차키보관위치를 입력하세요">

        <div class="input-label">비고</div>
        <input type="text" class="input-field" id="remark" placeholder="비고를 입력하세요">

        <div class="input-label">사진 업로드</div>
        <input type="file" id="fileInput" accept="image/*" multiple>

        <button class="submit-button" onclick="submitForm()">전송</button>
    </div>

    <script>
        function submitForm() {
            // 입력된 정보를 가져와서 처리할 수 있는 코드를 작성하세요.
            const mileage = document.getElementById('mileage').value;
            const entryLocation = document.getElementById('entryLocation').value;
            const detailLocation = document.getElementById('detailLocation').value;
            const KeyAmountPres = document.getElementById('KeyAmountPres').value;
            const KeyAmountTot = document.getElementById('KeyAmountTot').value;
            const KeyLocation = document.getElementById('KeyLocation').value;
            const remark = document.getElementById('remark').value;
            const carNo = '<%= carNo %>';

            const formData = new FormData();
            formData.append('mileage', mileage);
            formData.append('entryLocation', entryLocation);
            formData.append('detailLocation', detailLocation);
            formData.append('KeyAmountPres', KeyAmountPres);
            formData.append('KeyAmountTot', KeyAmountTot);
            formData.append('KeyLocation', KeyLocation);
            formData.append('remark', remark);
            formData.append('carNo', carNo);

            // 파일 추가
            for (const file of fileInput.files) {
                formData.append('images', file);
            }

            // 서버로 전송
            fetch('/submitCompQC', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    if (data.data) {
                        console.log('데이터/파일 전송 성공');
                        window.location.href = '/CompQC';     //페이지로 이동
                    } else {
                        console.error('데이터/파일 전송 실패')
                    }
                }
            })

            .catch(error => {
                console.error('네트워크 에러: ', error)
            })

        }
    </script>

</body>
</html>
